<md-toolbar>
  My App
</md-toolbar>
<nav md-tab-nav-bar>
  <a md-tab-link
     [routerLink]="['/home']"
     routerLinkActive="active-link" #rlaHome="routerLinkActive"
     [active]="[rlaHome.isActive ? 'active' : '']">
    home{{rlaHome.isActive}}
  </a>
  <a md-tab-link
     [routerLink]="['/join']"
     routerLinkActive="active-link" #rlaJoin="routerLinkActive"
     [active]="[rlaJoin.isActive ? 'active' : '']">
    join{{rlaJoin.isActive}}
  </a>
  <a md-tab-link
     [routerLink]="['/login']"
     routerLinkActive="active-link" #rlaLogin="routerLinkActive"
     [active]="[rlaLogin.isActive ? 'active' : '']">
    login{{rlaLogin.isActive}}
  </a>
  <a md-tab-link
     [routerLink]="['/board']"
     routerLinkActive="active-link" #rlaBoard="routerLinkActive"
     [active]="[rlaBoard.isActive ? 'active' : '']">
    board{{rlaBoard.isActive}}
  </a>
</nav>
<router-outlet></router-outlet>

<!--<div> {{ (user | async)?.uid }} </div>
<button (click)="join()">Join</button>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<button (click)="sendPasswordResetEmail()">SendPasswordResetEmail</button>-->
