<md-toolbar>
  My App
</md-toolbar>
<nav md-tab-nav-bar>
  <a md-tab-link
     [routerLink]="['/']"
     routerLinkActive="active-link" #rlaHome="routerLinkActive"
     [active]="[rlaHome.isActive == true ? 'active' : '']">
    home
  </a>
  <a md-tab-link
     [routerLink]="['/join']"
     routerLinkActive="active-link" #rlaJoin="routerLinkActive"
     [active]="[rlaJoin.isActive == true ? 'active' : '']">
    join
  </a>
  <a md-tab-link
     [routerLink]="['/login']"
     routerLinkActive="active-link" #rlaLogin="routerLinkActive"
     [active]="[rlaLogin.isActive == true ? 'active' : '']">
    login
  </a>
</nav>
<router-outlet></router-outlet>

<!--<div> {{ (user | async)?.uid }} </div>
<button (click)="join()">Join</button>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<button (click)="sendPasswordResetEmail()">SendPasswordResetEmail</button>-->
